
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height : 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

header {
    padding: 50px;
}

h1 {
    font-family: 'Indie Flower', cursive;
    font-weight: lighter;
    font-size: 80px;
    color: #6E1E27;
}

#rules {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-stretch: expanded;
    color: #680970;
}

button {
    background-color: transparent ;
    color: #fff;
    font-size: 22px;
    padding: 20px;
    border: 3px  #fff;
    border-radius: 50px;
    width: 170px;
}

button:hover {
    background-color: #fff;
    color: brown;
    border: 3px solid #fff;
}

.gamepanel {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: repeat(3, 90px);
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    color: #fff;
}

.item {
    margin: 10px;
    align-self: center;
    justify-self: center;
}

.player-title {
    grid-column:1/4;
}

.player-title h2 {
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 5px;
}

.roll-container {
    grid-column: 1/2;
    grid-row:2/3;
}

.reset-container {
    grid-column: 1/2;
    grid-row:3/4;
}


.curr-score {
    grid-column: 3/4;
    grid-row: 2/4;
    height: 155px;
    width: 155px;
    border: 2px solid #fff;
    border-radius: 5px;
    letter-spacing: 2px;
    color: brown;
}

.curr-score p {
    padding: 10px 0;
    font-size: 22px;
}

hr {
    border: none;
    border-top: 1px solid #ebedee;
}

#total {
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
    padding: 20px;
}

.dice-container {
    grid-column: 2/3;
    grid-row: 2/4;
}

.msg {
    grid-column: 1/4;
    grid-row: 4/5;
}

img {
    width: 100px;
}

#diceImgObj {
    width: 170px;
}

.dice-images {
    align-self: center;
    justify-self: center;
}

.no-display {
    display: none;
}
